<div class="container_big-card">
    <div class="big-card_photo">
        <img src="" alt="" height="200px">
    </div>

    <div class="big-card_title">
        <h1><a href="">Nova versão do angular</a></h1>
    </div>

    <div class="big-card_description">
        <p>
            <a href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic incidunt nisi assumenda, rerum non rem est laborum vel quo doloremque reiciendis iste praesentium alias blanditiis at dicta doloribus dolor ratione.
            </a>
        </p>
    </div>
</div>
